.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;

  font-family: inherit;
  color: inherit;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  width: 182px;
  height: 36px;
  padding: 6px 24px !important;

  color: var(--color-light-100);

  background-color: var(--color-info-500);
}

.secondary {
  width: 182px;
  height: 36px;
  padding: 6px 24px !important;

  color: var(--color-light-100);

  background-color: var(--color-dark-500);
}

.outline {
  width: 182px;
  height: 36px;
  padding: 6px 24px !important;

  color: var(--color-info-500);

  background: none;
  border: 1px solid var(--color-info-500);
}

.textbutton {
  width: 100px;
  height: 36px;
  padding: 6px 24px !important;

  color: var(--color-info-500);

  background: none;
  border: none;
  box-shadow: none;
}
